<% layout('layout/boilerplate') %>


    <div class="row">
        <h1 class="text-center">New campground</h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds/<%=campground._id %>?_method=PUT" novalidate class="validation-form"
                method="post">

                <div class="mb-3"><label for="title" class="form-label">title</label>
                    <input id="title" name="campground[title]" type="text" class="form-control"
                        value='<%=campground.title %> ' required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3"><label for="location" class="form-label">location</label>
                    <input class="form-control" id="location" name="campground[location]" type="text"
                        value='<%=campground.location %>' required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3"><label for="image" class="form-label">image Url</label>
                    <input class="form-control" id="image" name="campground[image]" type="text"
                        value='<%=campground.image %>' required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Campground Price</label>
                    <div class="input-group ">

                        <span class="input-group-text" id="price-label">$</span>
                        <input placeholder="0.00" type="text" class="form-control" id="price" name="campground[price]"
                            value='<%=campground.price %>' aria-describedby="price-label" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>

                </div>

                <div class="mb-3"><label for="description" class="form-label">description</label>

                    <textarea class="form-control" id="description" name="campground[description]" type="text"
                        required><%=campground.description %></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-info" type="submit">update Campground</button>

                </div>



            </form>

        </div>
    </div>